@use "../abstracts/variables" as*;

.featured{
    margin: 0 auto;
}
.featured,
.suggested{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.concertImage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 55%;
    .smallImage{
        flex-basis: 45%;
        margin: 1%;
    }
}
