@use "../abstracts/variables" as*;


 
.listOfTheListsContainer{
   padding: 1px;
   border-radius: 25px;
   margin-bottom: 1%;
   li{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem;
       border-radius: 25px;
       background-color: $firstColor;
       list-style-type: none;
       margin-bottom: 2%;
           p{
               font-size: 1.6rem;
           }
   }

}



