@use "../abstracts/variables" as *;


.listHeading{
    display: flex;
    justify-content: center;
    gap: 20px;
}
    .listTags{
        text-align: center;
        p{
            width: 20%;
        }
    }

    .listConcertTags{
        display: flex;
        justify-content: space-between;
        width: 92%;
    }
    .listButtonTags{
        width: 5%;
        p{
          width: auto;  
          text-align: start;
        }
    }

  
    
    .tagsInView{
        display: flex;
        width: 100%;
    }
    //ListWithKeys style
    .inKeys{
        p{
            width: 12.5%;
        }
        .listButtonTags{
            p{
                width: 100%;
            }
        }
    }


.viewDetaliedList {
    .listHeading{
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }
    h3{
        flex-basis: 33%;
        font-size: 2.3rem;
        text-align: center;
    }
    .progressBar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 25%;
        progress {
            width: 150px;
          }
    }

  margin-top: 4rem;
  background: rgba(255, 255, 255, 0.342);
  border-radius: 25px;
  padding: 1%;

  .listItem0 {
    li{
        background-color: $forthColor;
        box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
        -webkit-box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
        -moz-box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
    }

  }
  
  .listItem1 {
    li{
        background-color: $firstColor;
        box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
        -webkit-box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
        -moz-box-shadow: 8px 11px 5px 1px rgba(219, 240, 239, 0.66);
    }
}

  .listItem2 {
    li{
        background-color: $secondColor;
        box-shadow: 8px 11px 5px 1px rgba(151, 219, 232, 0.66);
        -webkit-box-shadow: 8px 11px 5px 1px rgba(151, 219, 232, 0.66);
        -moz-box-shadow: 8px 11px 5px 1px rgba(151, 219, 232, 0.66);
    }
}

  .listItem3 {
    li{
    background-color: $thirdColor;
    box-shadow: 8px 11px 5px 1px rgba(151, 169, 232, 0.66);
    -webkit-box-shadow: 8px 11px 5px 1px rgba(151, 169, 232, 0.66);
    -moz-box-shadow: 8px 11px 5px 1px rgba(151, 169, 232, 0.66);
    }
  }
  .listItem0 li,
  .listItem1 li,
  .listItem2 li,
  .listItem3 li{
    transition: 0.6s;
      &:hover,
      &:focus{
        scale: 1.03;
      }
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    flex-basis: 25%;
  }

  ul {
    padding-left: 0;
    background-color: #ffffff00;
    border-radius: 25px;
    padding: 2rem;

    .wrapper {
      margin-bottom: 2rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      border: 3px solid rgba(255, 255, 255, 0.815);
      border-radius: 25px;
      list-style-type: none;
      margin-bottom: 2%;
      
    }
  }

  .fBListInView {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .listButtons {
  //   width: 28%;
  // }

  a {
    width: 14%;
    margin: 0 auto;

    button {
      font-size: 1.5rem;
      margin-left: 5%;
    }

    span {
      text-decoration: underline;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
}

