.homepage{
    margin: 0 auto;
    img{
        border-radius: 25px;
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    }
}
.featured,
.input-section,
.suggested,
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form{
    border-radius: 25px;
    background-color: #dbf0efd8;
    width: 500px;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    input{
        width: 45%;
        border-radius: 25px;
        background-color: #97DAE8;
        border: none;
    }
}
.concert-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    .small-image{
        flex-basis: 50%;
    }
}
